body{
    background-size: cover;
    background-position: center;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    height: 8%;
    text-align: center;
    padding: 14px;
    border: 3px dotted mediumslateblue;
}

#status{
    font-size: 18px;
    color: chartreuse;
}

canvas{
    border-radius: 50px;
    border: 3px double crimson;
    box-shadow: 0px 0px 75px -2px blue;
    margin-top: 175px;
}

#r{
    background-color: blue;
    color: greenyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0px;
    padding: 10px;
    height: 9%;
    box-shadow: 5px 5px 50px gold;
}

label{
    font-size: 20px;
    height: 30px;
    background-color: cyan;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px;
}

input{
    font-size: 20px;
    width: 40%;
    text-align: center;
    height: 30px;
}